.startTime,
.endTime {
  display: flex;
  align-items: center;
}

.startTime {
  margin-bottom: 5px;
}

.startTime,
.endTime {
  font-weight: bold;
}

.startTime span:first-child,
.endTime span:first-child {
  width: 100px;
  text-align: right;
  margin-right: 5px;
}

.inputSeparator {
  margin: 0 5px;
}
