.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 100px;
  height: 100px;
  transform: scale(0.5);
  animation-duration: 2s;
  animation-name: beat;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes beat {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
